{{define "login"}}
<span style="color: #5aaa14;font-size: 14em;">✓</span><br>
You're done, you can close this window.
{{end}}

{{define "login-script"}}
<script>
function getFormData() {
  return "";
}
function startForm() {
}
</script>
{{end}}
