{{define "login"}}
<span style="color: #5aaa14;font-size: 14em;">✓</span><br>
You're done, you can close this window.
{{end}}

{{define "login-script"}}
<script>
function getFormData() {
  return "";
}
function startForm() {
  // This will most likely not work, but let's try it anyway.
  // Usually browsers do not allow you to simply close the page you're on.
  window.close();
}
</script>
{{end}}
