{{define "head-script"}}
{{end}}

{{define "body-script"}}
<script>
document.getElementById("login").style.display = "block";
document.getElementById("validating").style.display = "none";
</script>
{{end}}
