{{define "login"}}
<p>These are the details:</p>

<table>
<tr><td style="width: 10em">Origin:</td><td>
From IP <code>{{.VerifiedUser.Ip}}</code>
which resolves to
<code>{{.VerifiedUser.ReverseDns}}</code>
from port
<code>{{.VerifiedUser.Port}}</code>
</td></tr>
<tr><td>Username:</td><td><code>{{.VerifiedUser.Username}}</code></td></tr>
<tr><td>Groups:</td><td>
{{ range .VerifiedUser.Group }}
<code>{{.}}</code><br>
{{ end }}
</td></tr>
<tr><td>SSH Public Key:</td><td><code>{{.Request.SshCertificateRequest.PublicKey}}</code></td></tr>
<tr><td>Vault Token:</td><td>{{ if .Request.VaultTokenRequest }}create{{ else }}do not create{{ end }}</td></tr>
<tr><td>Kubernetes Certificate:</td><td>{{ if .Request.KubernetesCertificateRequest }}create{{ else }}do not create{{ end }}</td></tr>
</table>

<br>
<button id="ok" class="btn btn-lg btn-primary btn-block" type="submit">Looks OK</button>
{{end}}

{{define "login-script"}}
<script>
function getFormData() {
  return "";
}
function startForm() {
  document.getElementById("ok").focus();
}
</script>
{{end}}
