<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
{{ template "head-script" . }}
<style>
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  position: relative;
  width: 80%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}
table {
  text-align: left;
}
table td {
  vertical-align: top;
}
.btn-primary {
  background-color: #f7730e;
  border-color: #ba5600;
}
.btn-primary:hover {
  background-color: #ba5600;
  border-color: #ba5600;
}
.form-signin button, .form-signin input {
  max-width: 330px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#error, #validating, #login {
  width: 100%;
}
#logo {
  width: 20em;
  padding-bottom: 50px;
}
</style>
</head>
<body class="text-center">
  <form class="form-signin" action="#" method="POST" onsubmit="return postForm()">
    <img id="logo" class="mb-4" src="https://company.dreamhack.com/wp-content/uploads/2017/03/DreamHack_onWhite-RGB.png" alt="Logo">
    <div id="validating">
      <div class="alert alert-primary" role="alert">
        Trying to talk to prodaccess to validate your login request ...
      </div>
    </div>
    <div id="error" style="display: none">
      <div class="alert alert-danger" role="alert">
        Validation of login failed, I don't believe you are the one trying to log in.<br>
        Please try again
      </div>
    </div>
    <div id="login" style="display: none">
      {{ template "login" . }}
    </div>
  </form>

{{ template "login-script" }}
{{ template "body-script" }}
<script>
function postForm() {
  var xhr = new XMLHttpRequest();
  xhr.open("POST", window.location.href);
  xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhr.onreadystatechange = function() {
    if (xhr.readyState == XMLHttpRequest.DONE) {
      if (xhr.status == 200) {
        // We're done with this stage.
        // The "next()" function will now return and redirect us to the next
        // page.
      } else {
        failed();
      }
    }
  }
  xhr.send(getFormData());
  // Stop form from submiting a second time
  return false;
}

function next() {
  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function() {
    if (this.readyState == XMLHttpRequest.DONE) {
      if (this.status == 200) {
        window.location.href = this.responseText;
      } else {
        setTimeout(next, 1000);
      }
    }
  }
  if (typeof nextUrl !== "undefined") {
    xhr.open("POST", nextUrl);
    xhr.send();
  }
}
next();
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
